#### Poetry ####

# Virtual environment
.venv

# Lock file
poetry.lock

# Local files
*.local

#### Python ####

# Pycache
__pycache__/

# Jupyter
.ipynb_checkpoints/

# Checkpoints
checkpoints/

# Unity Environment
unity/
